* {
  font-family: sans-serif;
}

#lorem {
  padding: 20px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-evenly;
}

#slider {
  border: 1px solid red;
}

#sliders {
  display: flex;
  justify-content: space-around;
  border: 3px solid blue;
  padding: 15px;
  min-width: 900px;
}

#text {
  display: flex;
  flex-wrap: wrap;
}

#tts {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 1300px;
  align-items: center;
  justify-content: space-between;
  height: 300px;
}
